  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    font-family: sans-serif;
    position: relative;
    width: 20em;
    margin: 0.5em auto;
  }

  .input {
    font-size: 1.2rem;
    max-width: 60%;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
  }
  